@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

button {
  padding: .3rem .5rem;
  background: none;
  border: 1px solid black;
  border-radius: .3rem;
  transition: all ease-in .1s;
}

button:hover {
  background: rgb(58, 58, 58);
  color: white;
}

button:active {
  scale: .91;
}